In [93]:
"""
Build Dataset
"""

'\nBuild Dataset\n'

In [1]:
import numpy as np
import pandas as pd
max_allowed_freq = 16321
min_allowed_freq = 20

In [2]:
class_dict_df = pd.DataFrame(pd.read_csv("class_dict.csv"))
class_dict_df.head()

   class               category
0      0  comp.sys.mac.hardware
1      1        rec.motorcycles
2      2  talk.politics.mideast
3      3           misc.forsale
4      4     talk.religion.misc

In [3]:
#selected_words_df = pd.DataFrame(pd.read_csv('all_words.csv'))
selected_words_df = pd.DataFrame(pd.read_csv('selected_words_'+ str(max_allowed_freq) +'_'+ str(min_allowed_freq) +'.csv'))
selected_words_df.head()

           word  frequency
0          path      15204
1       subject      15997
2       message      16321
3            id      15355
4  organization      14696

In [4]:
selected_words = selected_words_df['word'].values
num_selected_words = len(selected_words)

In [5]:
train_file_paths_df = pd.DataFrame(pd.read_csv("train_files.csv"))
train_file_paths_df.head()

                                                path  class
0  .\clean_data\20_newsgroups\talk.politics.misc\...     13
1  .\clean_data\20_newsgroups\talk.religion.misc\...      4
2  .\clean_data\20_newsgroups\sci.electronics\542...     10
3  .\clean_data\20_newsgroups\misc.forsale\76424.txt      3
4  .\clean_data\20_newsgroups\sci.electronics\539...     10

In [6]:
train_file_paths = train_file_paths_df['path'].values
train_file_class = train_file_paths_df['class'].values

In [7]:
import time
matrix = []
st = time.time()
for i in range(len(train_file_paths)) :
    #if i == 2000:
    #    break
    if i % 1000 == 0 :
        et = time.time()
        print( i, "Files Processed in", int((time.time() - st)*1000) , "millisec")
        st = time.time()    
    path = train_file_paths[i]
    target = train_file_class[i]
    with open(path) as file :
        X = []
        count = {}
        data = file.readlines()
        words_in_file = (''.join(data)).split(' ')
        for word in words_in_file:
            if word in selected_words:
                try:
                    count[word] += 1
                except:
                    count[word] = 1
        for word in selected_words:
            try :
                x = count[word] #X.append(count[word])
            except :
                count[word] = 0 #X.append(0)
        #print(X)
        X = [count[word] for word in selected_words if word in count] 
        #print(len(X))
        matrix.append(X)
        #X_train_df.iloc[i, :] = 
        file.close()
print(len(matrix))
print(len(matrix[0]))

0 Files Processed in 0 millisec
1000 Files Processed in 78598 millisec
2000 Files Processed in 49461 millisec
3000 Files Processed in 43599 millisec
4000 Files Processed in 41105 millisec
5000 Files Processed in 42494 millisec
6000 Files Processed in 39578 millisec
7000 Files Processed in 33061 millisec
8000 Files Processed in 29954 millisec
9000 Files Processed in 29634 millisec
10000 Files Processed in 29016 millisec
11000 Files Processed in 30222 millisec
12000 Files Processed in 30099 millisec
13000 Files Processed in 27531 millisec
14000 Files Processed in 30213 millisec
14997
5594

In [8]:
X_train_df = pd.DataFrame(matrix, columns = selected_words)

In [9]:
X_train_df.describe()

,path,subject,message,id,organization,date,tue,article,branch,reality,...,superman,retinol,fetus,evolve,secession,pu,pom,crossroads,quantization,magi
count,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.00000,14997.000000,14997.000000,...,14997.0,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000
mean,0.050477,0.019537,0.058812,0.015536,0.009002,0.016270,0.112289,0.03514,0.008935,0.011402,...,0.0,0.001534,0.000600,0.001134,0.000867,0.000267,0.002000,0.000733,0.001000,0.001067
std,0.234806,0.167608,0.320264,0.187176,0.106405,0.181872,0.321799,0.22872,0.117433,0.134938,...,0.0,0.172256,0.037417,0.033650,0.049665,0.020001,0.173217,0.089824,0.077032,0.122758
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7.000000,7.000000,10.000000,12.000000,3.000000,8.000000,4.000000,8.00000,4.000000,4.000000,...,0.0,21.000000,4.000000,1.000000,4.000000,2.000000,15.000000,11.000000,9.000000,15.000000

In [10]:
import copy
X_train = X_train_df.values
Y_train = copy.deepcopy(train_file_class)
print(X_train.shape)
print(Y_train.shape)

(14997, 5594)
(14997,)

In [11]:
dataset = pd.DataFrame(X_train_df)
dataset['target'] = Y_train
dataset.to_csv("20_newsgroups_dataset.csv", index = False)

In [12]:
# , fit_prior = False 0.815763152631
# 
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB(alpha = 1)
model.fit(X_train, Y_train)

MultinomialNB(alpha=1, class_prior=None, fit_prior=True)

In [13]:
print(model.score(X_train, Y_train))

0.803027272121

In [14]:
from sklearn.metrics import confusion_matrix

In [15]:
Y_pred = model.predict(X_train)

In [16]:
from pprint import pprint
pprint(confusion_matrix(Y_pred, Y_train))

array([[713,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  5, 635,   1,   3,   0,   0,   0,   1,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  3,   5, 568,   0,   5,   0,   0,   0,   0,   1,   0,   0,   0,
          8,   0,   1,   0,   1,   0,   0],
       [ 12,  11,   9, 509,   1,   3,   6,   0,   0,   0,   3,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  2,   2,  18,   1, 427,   2,   0,   0,   0,   1,   0,   0,  14,
         15,   0,   0,   0,   0,   0,   0],
       [ 12,   6,   2,   4,   2, 502,   5,   1,   1,   0,   2,   0,   1,
          0,   0,   0,   2,   1,   0,   2],
       [ 12,  10,   1,  63,   5,   9, 559,   1,   2,   1,  13,   1,   0,
          0,   0,   0,   6,   0,   0,   8],
       [  0,   9,   5,  24,   6,   5,   5, 614,   4,   3,   1,   0,   1,
          1,   0,   0,   1,   0,   0,   0],
       [  1,   6,   4,   5,   6,   6,   3,   1, 630,   0,   0,   1,   2,
          4,   0,   0,   1,   0,   0,   0],
       [  1,   4,  16,   4,  40,   0,   0,   2,   1, 619,   0,   7,   3,
         38,   0,   0,   0,   1,   0,   0],
       [  1,  10,   3,  22,   5,   9,  20,  15,   5,   0, 586,   6,   1,
          1,   0,   0,   2,   6,   0,   0],
       [  0,   4,   9,   9,   6,   9,   4,   2,   3,   7,   7, 661,   1,
          2,   0,   0,   0,   0,   0,   0],
       [  0,   0,  19,   5, 147,   5,   2,   2,  10,  13,   2,   5, 632,
         16,   1,  23,   2,   7,   3,   0],
       [  0,   0,  21,   7,  61,   3,   1,   5,   9,  23,   1,   5,   3,
        540,   1,   2,   1,   0,   1,   0],
       [  1,   6,   7,  12,  13,   8,   7,  10,   3,  11,   4,   4,   5,
         10, 677,   2,   3,   2,   6,   0],
       [  0,   0,   6,   1,  11,   0,   0,   0,   1,   3,   0,   0,  14,
          7,   0, 633,   0,   0,   0,   0],
       [  1,   5,   7,  22,   5, 107,  37,   9,  26,   2,  23,  22,   3,
          4,   2,   6, 505,  15,   0,  15],
       [  0,   0,   7,   2,  11,   7,   2,   5,   7,   6,   5,   2,   8,
         15,   0,   9,   2, 608,   1,   0],
       [  0,   3,   9,  13,   6,   2,  11,  23,  16,  32,  21,   7,  23,
         46,  54,  25,  23,  30, 701,   2],
       [  0,   0,   7,  32,   7,  83,  98,  40,  36,  29,  88,  46,  56,
         34,  34,  44, 199,  73,  40, 724]], dtype=int64)

In [17]:
for target in set(Y_train):
    print(target, ":", (Y_train == target).sum())

0 : 764
1 : 716
2 : 719
3 : 739
4 : 764
5 : 760
6 : 760
7 : 731
8 : 754
9 : 751
10 : 756
11 : 767
12 : 767
13 : 741
14 : 769
15 : 745
16 : 747
17 : 744
18 : 752
19 : 751

In [18]:
from sklearn.metrics import classification_report
print(classification_report(Y_pred, Y_train))

             precision    recall  f1-score   support

          0       0.93      1.00      0.96       714
          1       0.89      0.98      0.93       645
          2       0.79      0.96      0.87       592
          3       0.69      0.92      0.79       554
          4       0.56      0.89      0.69       482
          5       0.66      0.92      0.77       543
          6       0.74      0.81      0.77       691
          7       0.84      0.90      0.87       679
          8       0.84      0.94      0.88       670
          9       0.82      0.84      0.83       736
         10       0.78      0.85      0.81       692
         11       0.86      0.91      0.89       724
         12       0.82      0.71      0.76       894
         13       0.73      0.79      0.76       684
         14       0.88      0.86      0.87       791
         15       0.85      0.94      0.89       676
         16       0.68      0.62      0.65       816
         17       0.82      0.87      0.84       697
         18       0.93      0.67      0.78      1047
         19       0.96      0.43      0.60      1670

avg / total       0.82      0.80      0.80     14997

In [20]:
import _pickle as pickle

In [21]:
model_data = {}
model_data['model'] = model
model_data['max_freq'] = max_allowed_freq
model_data['min_freq'] = min_allowed_freq
with open("multinomial_naive_bayes_" + str(max_allowed_freq) + "_" + str(min_allowed_freq) + ".sav", 'wb') as model_file :
    pickle.dump(model_data, model_file )
    model_file.close()