In [1]:
import numpy as np
import pandas as pd

In [2]:
import time
st = time.time()
dataset_df = pd.read_csv("20_newsgroups_dataset.csv")
et = time.time()

print("Runtime:", (int((et-st)*1000))/1000)

dataset_df.describe()

Runtime: 21.543

,path,subject,message,id,organization,date,tue,article,branch,reality,...,superman,retinol,fetus,evolve,secession,pu,pom,crossroads,quantization,magi
count,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.00000,14997.000000,14997.000000,...,14997.0,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000
mean,0.050477,0.019537,0.058812,0.015536,0.009002,0.016270,0.112289,0.03514,0.008935,0.011402,...,0.0,0.001534,0.000600,0.001134,0.000867,0.000267,0.002000,0.000733,0.001000,0.001067
std,0.234806,0.167608,0.320264,0.187176,0.106405,0.181872,0.321799,0.22872,0.117433,0.134938,...,0.0,0.172256,0.037417,0.033650,0.049665,0.020001,0.173217,0.089824,0.077032,0.122758
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7.000000,7.000000,10.000000,12.000000,3.000000,8.000000,4.000000,8.00000,4.000000,4.000000,...,0.0,21.000000,4.000000,1.000000,4.000000,2.000000,15.000000,11.000000,9.000000,15.000000

In [3]:
X_train_df = dataset_df.drop('target', axis = 1) 
Y_train_df = dataset_df['target']

In [4]:
X_train_df.describe()

,path,subject,message,id,organization,date,tue,article,branch,reality,...,superman,retinol,fetus,evolve,secession,pu,pom,crossroads,quantization,magi
count,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.00000,14997.000000,14997.000000,...,14997.0,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000
mean,0.050477,0.019537,0.058812,0.015536,0.009002,0.016270,0.112289,0.03514,0.008935,0.011402,...,0.0,0.001534,0.000600,0.001134,0.000867,0.000267,0.002000,0.000733,0.001000,0.001067
std,0.234806,0.167608,0.320264,0.187176,0.106405,0.181872,0.321799,0.22872,0.117433,0.134938,...,0.0,0.172256,0.037417,0.033650,0.049665,0.020001,0.173217,0.089824,0.077032,0.122758
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7.000000,7.000000,10.000000,12.000000,3.000000,8.000000,4.000000,8.00000,4.000000,4.000000,...,0.0,21.000000,4.000000,1.000000,4.000000,2.000000,15.000000,11.000000,9.000000,15.000000

In [5]:
Y_train_df.describe()

count    14997.000000
mean         9.526905
std          5.751224
min          0.000000
25%          5.000000
50%         10.000000
75%         14.000000
max         19.000000
Name: target, dtype: float64

In [6]:
test_dataset_df = pd.read_csv("20_newsgroups_test_dataset.csv")
test_dataset_df.describe()

,path,subject,message,id,organization,date,tue,article,branch,reality,...,superman,retinol,fetus,evolve,secession,pu,pom,crossroads,quantization,magi
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.0,5000.0,5000.000000,5000.000000,5000.000000,5000.000000,5000.0,5000.0,5000.000000,5000.0
mean,0.052400,0.017600,0.052600,0.012200,0.011400,0.012800,0.105800,0.039400,0.007600,0.008800,...,0.0,0.0,0.000400,0.001200,0.001000,0.000400,0.0,0.0,0.003600,0.0
std,0.235086,0.143158,0.268044,0.123508,0.131429,0.140855,0.314684,0.235497,0.164765,0.121349,...,0.0,0.0,0.019998,0.034624,0.046898,0.019998,0.0,0.0,0.179982,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
max,5.000000,3.000000,9.000000,3.000000,5.000000,5.000000,4.000000,4.000000,10.000000,4.000000,...,0.0,0.0,1.000000,1.000000,3.000000,1.000000,0.0,0.0,9.000000,0.0

In [7]:
X_test_df = test_dataset_df.drop('target', axis = 1) 
Y_test_df = test_dataset_df['target']

In [8]:
X_test_df.describe()

,path,subject,message,id,organization,date,tue,article,branch,reality,...,superman,retinol,fetus,evolve,secession,pu,pom,crossroads,quantization,magi
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.0,5000.0,5000.000000,5000.000000,5000.000000,5000.000000,5000.0,5000.0,5000.000000,5000.0
mean,0.052400,0.017600,0.052600,0.012200,0.011400,0.012800,0.105800,0.039400,0.007600,0.008800,...,0.0,0.0,0.000400,0.001200,0.001000,0.000400,0.0,0.0,0.003600,0.0
std,0.235086,0.143158,0.268044,0.123508,0.131429,0.140855,0.314684,0.235497,0.164765,0.121349,...,0.0,0.0,0.019998,0.034624,0.046898,0.019998,0.0,0.0,0.179982,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
max,5.000000,3.000000,9.000000,3.000000,5.000000,5.000000,4.000000,4.000000,10.000000,4.000000,...,0.0,0.0,1.000000,1.000000,3.000000,1.000000,0.0,0.0,9.000000,0.0

In [9]:
Y_test_df.describe()

count    5000.000000
mean        9.416000
std         5.811721
min         0.000000
25%         4.000000
50%         9.000000
75%        15.000000
max        19.000000
Name: target, dtype: float64

In [10]:
words = X_train_df.columns
print(words)
possible_classes = list(set(Y_train_df.values))
print(possible_classes)

Index(['path', 'subject', 'message', 'id', 'organization', 'date', 'tue',
       'article', 'branch', 'reality',
       ...
       'superman', 'retinol', 'fetus', 'evolve', 'secession', 'pu', 'pom',
       'crossroads', 'quantization', 'magi'],
      dtype='object', length=5593)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
def predict_single(X, model) :
    
    max_class_prob = -np.inf
    max_class = None
    possible_classes = model.keys()
    for y in possible_classes :
        X = np.array(X)
        prob_X_equals_x_given_Y_equals_y = model[y]['class_prior']
        prob_X_equals_x_given_Y_equals_y += (X * model[y]['log_prob_sum']).sum()
        if prob_X_equals_x_given_Y_equals_y > max_class_prob :
            max_class_prob = prob_X_equals_x_given_Y_equals_y
            max_class = y
    return max_class
    
def simplify_model(dictionary, alpha) :
    if alpha > 1 or alpha < 0 :
        print("Alpha parameter not in range [0,1]...")
        print("setting alpha = 1")
        alpha = 1
    model = {}
    possible_classes = dictionary['possible_classes']
    num_words = dictionary["vocabulary_size"]
    
    range_words = range(num_words)
    
    for y in possible_classes :
        #class_prior
        model[y] = {}
        prob_Y_equals_y = np.log(dictionary[y]["class_count"]/dictionary["total_data"])
        prob_X_equals_x_given_Y_equals_y = 0 
        prob_X_equals_x_given_Y_equals_y += prob_Y_equals_y
        total_words_in_class_y_docs = dictionary[y]["total_words"]        
        count_f_class_y = np.array([dictionary[y][f] for f in range_words])
        prob_f_class_y = (count_f_class_y+alpha)/(total_words_in_class_y_docs + alpha*num_words) 
        
        model[y]['class_prior'] = prob_Y_equals_y
        model[y]['log_prob_sum'] = np.log(prob_f_class_y)
    
    return model
    

def predict(X, model) :
    #if not isinstance(X[0], list) :
    #    return None #predict_single(X, model)
    Y_pred = []
    for x in X :
        Y_pred.append(predict_single(x, model))
    return Y_pred

def fit(X, Y) :
    num_words = len(X[0])
    possible_classes = list(set(Y))
    model = {}
    model["total_data"] = len(Y)
    model["vocabulary_size"] = num_words
    model["possible_classes"] = possible_classes
    for y in possible_classes :
        y_dict = {i : X[Y == y, i].sum() for i in range(num_words)}
        y_dict['total_words'] = sum(y_dict.values())
        y_dict['class_count'] = sum(Y == y)
        #print(y_dict['total_count'])
        model[y] = y_dict
    return model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
import time
st = time.time()

log_regr = KNeighborsClassifier()
log_regr.fit(X_train_df.values, Y_train_df.values)

print(log_regr.score(X_train_df.values, Y_train_df.values))
#dictionary = fit(X_train_df.values, Y_train_df.values)
et = time.time()

print("Runtime:", (int((et-st)*1000))/1000)
#print(dictionary)

In [ ]:
"""
Train Data Evaluation
"""
import time
st = time.time()
Y_train_pred = log_regr.predict(X_train_df.values)
et = time.time()

print("Runtime:", (int((et-st)*1000))/1000)
#print(Y_train_pred)

from sklearn.metrics import confusion_matrix

from pprint import pprint
pprint(confusion_matrix(Y_train_pred, Y_train_df.values))

from sklearn.metrics import classification_report
print(classification_report(Y_train_pred, Y_train_df.values))

In [16]:
"""
Test Data Evaluation
"""
import time
st = time.time()
Y_test_pred = log_regr.predict(X_test_df.values)
et = time.time()

print("Runtime:", (int((et-st)*1000))/1000)
print(Y_test_pred)

Runtime: 0.18
[ 5 17  9 ...,  1 12 14]

In [17]:
training_time = (et-st)
print(training_time)

0.1805717945098877

In [18]:
from sklearn.metrics import confusion_matrix

In [22]:
from pprint import pprint
pprint(confusion_matrix(Y_test_pred, Y_test_df.values))

array([[162,   2,   2,  14,   1,   4,  14,   6,   4,   2,   6,   1,   0,
          2,   1,   0,  10,   3,   3,  20],
       [  1, 215,   2,   7,   3,   0,   0,   8,   1,   4,   4,   0,   2,
          0,   0,   0,   1,   3,   1,   0],
       [  0,   1, 215,   3,   2,   0,   0,   0,   1,   6,   1,   1,   2,
         21,   0,   0,   0,   0,   0,   0],
       [ 15,   6,   2, 168,   0,   7,  22,  15,   3,   5,  13,   2,   6,
          2,   1,   3,   8,   2,  11,   6],
       [  2,   1,   7,   2,  91,   0,   0,   3,   3,   9,   0,   2,  57,
         27,   2,  11,   2,   4,   0,   0],
       [  4,   6,   5,   3,   3, 164,   5,   5,   2,   1,   2,   6,   2,
          1,   4,   5,  18,   2,   4,  14],
       [ 24,   3,   3,  11,   1,   6, 136,   5,   0,   0,   9,   3,   0,
          2,   1,   2,  18,   4,   3,  14],
       [  2,  14,   3,  11,   0,   0,   2, 199,   1,   3,   4,   0,   5,
          2,   2,   2,   1,   4,   1,   1],
       [  2,   2,   2,   1,   3,   1,   2,   0, 201,   1,   2,   1,   0,
          3,   2,   3,   0,   5,   2,   1],
       [  3,   2,   5,   3,   9,   0,   2,   1,   5, 176,   0,   6,   5,
         19,   0,   1,   1,   1,   1,   0],
       [  3,   6,   2,  10,   0,   5,  13,  11,   4,   4, 171,   2,   0,
          2,   3,   1,   4,   1,   4,   6],
       [  1,   1,   1,   0,   3,   3,   0,   1,   1,   4,   4, 197,   1,
          6,   1,   0,   1,   0,   0,   1],
       [  0,   4,   4,   4,  56,   1,   0,   3,   1,   4,   1,   2, 131,
          4,   2,   9,   1,   2,   1,   2],
       [  1,   1,  15,   1,  33,   1,   0,   1,   6,  22,   0,   2,   3,
        158,   2,   2,   1,   2,   3,   0],
       [  0,   2,   4,   5,   3,   0,   0,   1,   2,   1,   6,   1,   2,
          0, 193,   4,   1,   2,   8,   2],
       [  1,   4,   4,   2,  16,   2,   2,   3,   0,   4,   2,   3,   4,
          4,   1, 202,   1,   3,   2,   1],
       [  3,   5,   0,   5,   3,  23,   9,   4,   4,   0,   7,   1,   0,
          2,   3,   2, 162,   6,   1,  20],
       [  4,   3,   3,   3,   3,   4,   1,   2,   3,   2,   2,   2,   4,
          2,   1,   0,   3, 204,   1,   5],
       [  1,   4,   0,   4,   5,   1,   0,   1,   3,   1,   1,   0,   6,
          2,  11,   2,   0,   4, 199,   0],
       [  7,   2,   2,   4,   1,  18,  32,   0,   1,   0,   9,   1,   3,
          0,   1,   3,  20,   4,   3, 156]], dtype=int64)

In [23]:
from sklearn.metrics import classification_report
print(classification_report(Y_test_pred, Y_test_df.values))

             precision    recall  f1-score   support

          0       0.69      0.63      0.66       257
          1       0.76      0.85      0.80       252
          2       0.77      0.85      0.81       253
          3       0.64      0.57      0.60       297
          4       0.39      0.41      0.40       223
          5       0.68      0.64      0.66       256
          6       0.57      0.56      0.56       245
          7       0.74      0.77      0.76       257
          8       0.82      0.86      0.84       234
          9       0.71      0.73      0.72       240
         10       0.70      0.68      0.69       252
         11       0.85      0.87      0.86       226
         12       0.56      0.56      0.56       232
         13       0.61      0.62      0.62       254
         14       0.84      0.81      0.82       237
         15       0.80      0.77      0.79       261
         16       0.64      0.62      0.63       260
         17       0.80      0.81      0.80       252
         18       0.80      0.81      0.81       245
         19       0.63      0.58      0.60       267

avg / total       0.70      0.70      0.70      5000