Send Feedback
Titanic dataset is one of the datasets available in sklearn.
You are given:
    1. A Training dataset csv file with X train and Y train data
    2. A X test File and you have to predict and submit predictions for this file.
Your task is to:
    1. Use Logistic Regression and come with predictions.
Read Instructions carefully -
    1. Use Logistic Regression as a training algorithm and submit results predicted.
    2. Files are in csv format.
    3. Submit a csv file with only predictions for X test data. File should not have any headers and should only have one column i.e. predictions.
    4. Your score is based on number of accurate predictions.

In [4]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [5]:
# Loading Dataset
dataframe = pd.read_csv("training_titanic_x_y_train.csv", delimiter = ",")
dataframe.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [6]:
dataframe.describe()

           Pclass         Age       SibSp       Parch        Fare    Survived
count  668.000000  536.000000  668.000000  668.000000  668.000000  668.000000
mean     2.296407   29.700560    0.528443    0.407186   32.064552    0.402695
std      0.831638   14.240257    1.080327    0.854695   45.320835    0.490808
min      1.000000    0.670000    0.000000    0.000000    0.000000    0.000000
25%      2.000000   21.000000    0.000000    0.000000    7.925000    0.000000
50%      3.000000   29.000000    0.000000    0.000000   14.750000    0.000000
75%      3.000000   38.250000    1.000000    0.000000   31.275000    1.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200    1.000000

In [7]:
df = dataframe.copy()
sex = df['Sex'].values
sex_int = []
for s in sex :
    sex_int.append(1 if s == 'male' else 0)
df['Sex'] = sex_int
df.drop('Name', axis = 1, inplace = True)
df.drop('Ticket', axis = 1, inplace = True)
df.drop('Cabin', axis = 1, inplace = True)
df.drop('Embarked', axis = 1, inplace = True)
ages = df['Age'].fillna(0).values
ages_nonzero = ages[np.nonzero(ages)]
mean_age = np.array(ages_nonzero).mean()
print(mean_age)

29.7005597015

In [8]:
df.fillna(mean_age, inplace = True)
print(df)
df.describe()

X_df = df.drop('Survived', axis = 1)
X_train = X_df.values
Y_train = df['Survived'].values

print("Shape of X_train ", X_train.shape)
print("Shape of Y_train ", Y_train.shape)

test_dataframe = pd.read_csv("test_titanic_x_test.csv", delimiter = ",")


test_df = test_dataframe.copy()
sex = test_df['Sex'].values
sex_int = []
for s in sex :
    sex_int.append(1 if s == 'male' else 0)
test_df['Sex'] = sex_int
test_df.drop('Name', axis = 1, inplace = True)
test_df.drop('Ticket', axis = 1, inplace = True)
test_df.drop('Cabin', axis = 1, inplace = True)
test_df.drop('Embarked', axis = 1, inplace = True)
ages = test_df['Age'].fillna(0)
mean_age = np.array(ages).mean()
print(mean_age)
test_df.fillna(mean_age, inplace = True)
print(test_df)
test_df.describe()

X_test = test_df.values

print("Shape of X_test ", X_test.shape)

     Pclass  Sex       Age  SibSp  Parch      Fare  Survived
0         2    0  29.00000      1      0   26.0000         1
1         3    1  29.70056      0      0    8.0500         0
2         2    1  39.00000      0      0   26.0000         0
3         3    0  29.00000      0      4   21.0750         0
4         3    1  25.00000      0      0    7.0500         0
5         3    1  34.50000      0      0    6.4375         0
6         1    0  35.00000      1      0   53.1000         1
7         3    1  23.00000      0      0    7.8958         0
8         2    1  29.70056      0      0   13.0000         1
9         3    1  50.00000      0      0    8.0500         0
10        3    0  23.00000      0      0    7.5500         1
11        3    1  29.70056      0      0    7.2292         0
12        2    1  36.00000      0      0   13.0000         0
13        3    1  29.70056      1      0   15.5000         0
14        3    0  29.70056      0      0    7.7500         1
15        3    1  28.00000      2      0    7.9250         0
16        3    1  32.00000      0      0    7.8542         1
17        3    1  42.00000      0      0    7.5500         0
18        1    1  38.00000      0      1  153.4625         0
19        3    0  29.70056      0      0    7.7500         1
20        1    1  38.00000      0      0    0.0000         0
21        3    0  29.70056      0      2   15.2458         0
22        2    0  40.00000      0      0   15.7500         1
23        3    1  24.50000      0      0    8.0500         0
24        3    0  29.70056      0      0    7.2250         1
25        3    0  29.70056      8      2   69.5500         0
26        1    1  39.00000      0      0    0.0000         0
27        1    1  22.00000      0      0  135.6333         0
28        3    1  16.00000      0      0    7.7750         0
29        2    1  30.00000      0      0   13.0000         0
..      ...  ...       ...    ...    ...       ...       ...
638       3    1  24.00000      2      0   24.1500         0
639       2    0  22.00000      1      2   41.5792         1
640       3    0  29.70056      3      1   25.4667         0
641       3    1  32.00000      0      0    7.9250         1
642       1    1  42.00000      0      0   26.2875         1
643       3    1  17.00000      0      0    7.1250         0
644       1    1  29.70056      0      0   25.9250         0
645       2    1   0.83000      1      1   18.7500         1
646       3    0   9.00000      2      2   34.3750         0
647       1    1  58.00000      0      0   29.7000         0
648       2    1  28.00000      0      1   33.0000         0
649       3    1  26.00000      0      0    8.0500         0
650       3    1  47.00000      0      0    9.0000         0
651       3    1  29.70056      1      0   16.1000         0
652       2    0  33.00000      1      2   27.7500         1
653       3    0  47.00000      1      0   14.5000         0
654       3    1  29.70056      0      0    7.8958         0
655       1    1  42.00000      1      0   52.5542         1
656       3    1  36.00000      0      0    7.8958         0
657       3    1  38.00000      0      0    8.6625         0
658       3    0  38.00000      1      5   31.3875         1
659       3    1  29.70056      0      0    7.8292         0
660       2    1   1.00000      2      1   39.0000         1
661       1    0  29.70056      1      0   82.1708         1
662       1    1  47.00000      0      0   34.0208         0
663       2    0  17.00000      0      0   10.5000         1
664       3    1  29.70056      0      0    7.7500         0
665       3    1  32.00000      0      0   56.4958         1
666       3    0  22.00000      0      0    9.8375         0
667       3    0  29.70056      1      0   15.5000         1

[668 rows x 7 columns]
Shape of X_train  (668, 6)
Shape of Y_train  (668,)
23.7025560538
     Pclass  Sex        Age  SibSp  Parch      Fare
0         2    1   8.000000      1      1   36.7500
1         1    0  49.000000      0      0   25.9292
2         3    1  23.702556      0      0    7.7375
3         2    0  24.000000      2      1   27.0000
4         1    1  36.000000      0      0   26.2875
5         1    1  71.000000      0      0   49.5042
6         3    1  16.000000      0      0    9.5000
7         3    1  23.702556      0      0    7.7250
8         3    0  18.000000      0      0    7.7750
9         3    1  23.702556      0      0    8.6625
10        1    0  63.000000      1      0   77.9583
11        3    1  23.702556      0      0    7.8958
12        1    0  24.000000      0      0   83.1583
13        3    0  23.000000      0      0    7.9250
14        1    1  71.000000      0      0   34.6542
15        2    1  21.000000      1      0   11.5000
16        3    1  21.000000      0      0    8.4333
17        3    1   4.000000      1      1   11.1333
18        3    1  22.000000      0      0    7.5208
19        3    0  18.000000      0      0    6.7500
20        3    0  23.702556      1      0   24.1500
21        3    1  32.000000      0      0    7.7500
22        1    0  58.000000      0      0   26.5500
23        2    0  24.000000      1      2   65.0000
24        3    1  23.702556      0      0    7.2500
25        1    1  23.702556      0      0   35.0000
26        2    1  28.000000      0      0   10.5000
27        1    1  42.000000      1      0   52.0000
28        3    0   0.750000      2      1   19.2583
29        2    0  50.000000      0      0   10.5000
..      ...  ...        ...    ...    ...       ...
193       3    1  23.702556      0      0    8.0500
194       3    1  38.000000      0      0    7.8958
195       3    0  26.000000      0      0    7.9250
196       1    0  16.000000      0      1   57.9792
197       3    0  37.000000      0      0    9.5875
198       2    0  28.000000      1      0   26.0000
199       1    0  33.000000      0      0   86.5000
200       3    1  23.702556      0      0    7.7500
201       1    1  32.000000      0      0   30.5000
202       3    1  22.000000      0      0    7.2500
203       1    1  47.000000      0      0   38.5000
204       3    1  23.702556      0      0    7.7500
205       3    1  23.702556      1      0   19.9667
206       3    1  32.000000      0      0   56.4958
207       3    1  26.000000      0      0    7.8958
208       1    0  62.000000      0      0   80.0000
209       3    0   9.000000      3      2   27.9000
210       3    1  23.702556      2      0   21.6792
211       3    0  22.000000      0      0    7.7750
212       2    1  25.000000      0      0   13.0000
213       1    1  55.000000      0      0   30.5000
214       3    0  14.000000      0      0    7.8542
215       2    0  23.702556      0      0   12.3500
216       3    1  21.000000      0      0    8.6625
217       3    1  23.702556      0      0    8.0500
218       3    1  20.000000      1      0    7.9250
219       1    1  45.000000      0      0   26.5500
220       1    0  17.000000      1      0  108.9000
221       3    1  43.000000      0      0    6.4500
222       2    1  36.500000      0      2   26.0000

[223 rows x 6 columns]
Shape of X_test  (223, 6)

In [9]:
import sklearn.preprocessing as pps

def add_more_features (X_train, imp_cols_indices = []):
    X_train_df = pd.DataFrame(X_train)
    num_f = len(X_train_df.columns)
    col_names = X_train_df.columns
    if len(imp_cols_indices) == 0 :
        imp_cols_indices = np.arange(num_f)
        
    new_df = X_train_df.copy()
    num_imp_cols = len(imp_cols_indices)
    for i1 in range(num_imp_cols) :
        for j1 in range(i1, num_imp_cols):
            i = imp_cols_indices[i1]
            j = imp_cols_indices[j1]
            new_df[ str(col_names[i]) + "_" + str(col_names[j])] = X_train_df[i] * X_train_df[j]
    #print(new_df.describe())
    return new_df.values

X_train_new = add_more_features(X_train)
X_test_new = add_more_features(X_test)

std_scaler = pps.StandardScaler()
std_scaler.fit(X_train_new)

X_train_scaled = std_scaler.transform(X_train_new)
X_test_scaled = std_scaler.transform(X_test_new)

import copy
X_train_original = copy.deepcopy(X_train)
X_test_original = copy.deepcopy(X_test)

X_train = X_train_scaled
X_test = X_test_scaled

print(X_train.shape)
print(X_test.shape)

(668, 27)
(223, 27)

In [10]:
X_t_df = pd.DataFrame(X_train)
X_t_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
count,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,...,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02,6.680000e+02
mean,5.019272e-17,1.655362e-16,2.528767e-16,-9.215848e-17,-1.357863e-16,-4.263057e-17,-9.473460e-17,5.118992e-17,4.570529e-17,1.163407e-17,...,-1.911312e-17,-1.469217e-16,1.018812e-16,1.113547e-17,5.264418e-17,-1.035433e-16,-1.030031e-16,-9.722762e-17,-4.359454e-16,-5.792107e-17
std,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,...,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00,1.000749e+00
min,-1.560029e+00,-1.331084e+00,-2.277975e+00,-4.895177e-01,-4.767676e-01,-7.080315e-01,-1.448340e+00,-1.158686e+00,-1.898666e+00,-4.121822e-01,...,-1.203982e+00,-4.589523e-01,-3.528785e-01,-6.062751e-01,-2.331969e-01,-2.923431e-01,-3.337403e-01,-2.903377e-01,-2.966702e-01,-2.354362e-01
25%,-3.566809e-01,-1.331084e+00,-5.257807e-01,-4.895177e-01,-4.767676e-01,-5.330361e-01,-5.730466e-01,-1.158686e+00,-7.733151e-01,-4.121822e-01,...,-5.944853e-01,-4.589523e-01,-3.528785e-01,-4.765323e-01,-2.331969e-01,-2.923431e-01,-3.337403e-01,-2.903377e-01,-2.966702e-01,-2.306338e-01
50%,8.466668e-01,7.512675e-01,2.787749e-16,-4.895177e-01,-4.767676e-01,-3.823302e-01,8.857764e-01,3.664415e-01,-7.883648e-02,-4.121822e-01,...,-1.872825e-01,-4.589523e-01,-3.528785e-01,-3.751601e-01,-2.331969e-01,-2.923431e-01,-3.337403e-01,-2.903377e-01,-2.966702e-01,-2.187957e-01
75%,8.466668e-01,7.512675e-01,4.158374e-01,4.368218e-01,-4.767676e-01,-1.743444e-02,8.857764e-01,1.129005e+00,7.073039e-01,-9.090133e-02,...,2.081045e-01,3.443148e-01,-3.528785e-01,5.080622e-02,-7.177149e-02,-2.923431e-01,-6.777560e-02,-2.903377e-01,-2.966702e-01,-1.606446e-01
max,8.466668e-01,7.512675e-01,3.946905e+00,6.921198e+00,6.548543e+00,1.060494e+01,8.857764e-01,1.129005e+00,4.634753e+00,7.298559e+00,...,6.175636e+00,8.216496e+00,8.296192e+00,1.020581e+01,1.009803e+01,8.017664e+00,1.004345e+01,1.138531e+01,1.479086e+01,1.983497e+01

In [11]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import model_selection
def train_n_models(X_train, Y_train, X_test):
    n = 100
    sub_Size = 0.75
    Y_pred = np.zeros(len(X_test))
    Y_train_pred = np.zeros(int(sub_Size * len(X_train)))
    num_s = 0
    for i in range(n):
        X1, X2, Y1, Y2 = model_selection.train_test_split(X_train, Y_train, test_size = 1 - sub_Size)
        #model = LogisticRegression(tol = 0.000001, solver = 'saga', max_iter = 10000000, C = 0.1, warm_start = True)
        model = GradientBoostingClassifier(warm_start = True)      
        model.fit(X1, Y1)
        #print("Training Score : ", model.score(X_train, Y_train))
        score = model.score(X1, Y1)
        if score > 0.82:   
            print(num_s, " Training Score : ", score)
            Y_i_pred = model.predict(X_test)
            Y_pred += Y_i_pred
            Y_train_i_pred = model.predict(X1)
            Y_train_pred += Y_train_i_pred
            num_s += 1
    Y_pred /= num_s
    Y_train_pred /= num_s          
    
    #error = Y_train_pred - Y_pred
    
    pred = np.around(Y_pred)
    train_pred = np.around(Y_train_pred)
    
    #print(Y_pred, pred)
    return train_pred, pred

Y_train_pred, Y_pred = train_n_models(X_train, Y_train, X_test)
print("")

#print(Y_train_pred, Y_pred)
#score = Y_train_pred
              
#Training Score :  0.784431137725 
#Training Score :  0.790419161677 (tol = 0.000001, solver = 'saga', max_iter = 10000000, C = 1, warm_start = True)
# (tol = 0.000001, solver = 'saga', max_iter = 10000000, C = 0.5, warm_start = True)
"""
sub_size = 0.7
Training Score :  0.7874251497005988
Training Score :  0.7994011976047904
Training Score :  0.7994011976047904
Training Score :  0.7919161676646707
Training Score :  0.7829341317365269
Training Score :  0.7859281437125748
Training Score :  0.7844311377245509
Training Score :  0.7844311377245509
Training Score :  0.7799401197604791
Training Score :  0.7964071856287425

"""

0  Training Score :  0.928143712575
1  Training Score :  0.930139720559
2  Training Score :  0.922155688623
3  Training Score :  0.932135728543
4  Training Score :  0.940119760479
5  Training Score :  0.928143712575
6  Training Score :  0.932135728543
7  Training Score :  0.936127744511
8  Training Score :  0.946107784431
9  Training Score :  0.942115768463
10  Training Score :  0.946107784431
11  Training Score :  0.938123752495
12  Training Score :  0.940119760479
13  Training Score :  0.936127744511
14  Training Score :  0.932135728543
15  Training Score :  0.942115768463
16  Training Score :  0.932135728543
17  Training Score :  0.932135728543
18  Training Score :  0.936127744511
19  Training Score :  0.934131736527
20  Training Score :  0.936127744511
21  Training Score :  0.938123752495
22  Training Score :  0.938123752495
23  Training Score :  0.926147704591
24  Training Score :  0.940119760479
25  Training Score :  0.936127744511
26  Training Score :  0.944111776447
27  Training Score :  0.934131736527
28  Training Score :  0.930139720559
29  Training Score :  0.934131736527
30  Training Score :  0.938123752495
31  Training Score :  0.942115768463
32  Training Score :  0.938123752495
33  Training Score :  0.936127744511
34  Training Score :  0.932135728543
35  Training Score :  0.928143712575
36  Training Score :  0.928143712575
37  Training Score :  0.928143712575
38  Training Score :  0.928143712575
39  Training Score :  0.936127744511
40  Training Score :  0.928143712575
41  Training Score :  0.938123752495
42  Training Score :  0.936127744511
43  Training Score :  0.934131736527
44  Training Score :  0.928143712575
45  Training Score :  0.922155688623
46  Training Score :  0.952095808383
47  Training Score :  0.938123752495
48  Training Score :  0.922155688623
49  Training Score :  0.932135728543
50  Training Score :  0.930139720559
51  Training Score :  0.938123752495
52  Training Score :  0.934131736527
53  Training Score :  0.944111776447
54  Training Score :  0.934131736527
55  Training Score :  0.922155688623
56  Training Score :  0.926147704591
57  Training Score :  0.924151696607
58  Training Score :  0.930139720559
59  Training Score :  0.934131736527
60  Training Score :  0.936127744511
61  Training Score :  0.940119760479
62  Training Score :  0.938123752495
63  Training Score :  0.934131736527
64  Training Score :  0.926147704591
65  Training Score :  0.934131736527
66  Training Score :  0.928143712575
67  Training Score :  0.940119760479
68  Training Score :  0.932135728543
69  Training Score :  0.930139720559
70  Training Score :  0.930139720559
71  Training Score :  0.934131736527
72  Training Score :  0.920159680639
73  Training Score :  0.940119760479
74  Training Score :  0.944111776447
75  Training Score :  0.938123752495
76  Training Score :  0.930139720559
77  Training Score :  0.934131736527
78  Training Score :  0.926147704591
79  Training Score :  0.944111776447
80  Training Score :  0.938123752495
81  Training Score :  0.934131736527
82  Training Score :  0.940119760479
83  Training Score :  0.930139720559
84  Training Score :  0.944111776447
85  Training Score :  0.930139720559
86  Training Score :  0.920159680639
87  Training Score :  0.940119760479
88  Training Score :  0.922155688623
89  Training Score :  0.938123752495
90  Training Score :  0.942115768463
91  Training Score :  0.932135728543
92  Training Score :  0.928143712575
93  Training Score :  0.934131736527
94  Training Score :  0.944111776447
95  Training Score :  0.942115768463
96  Training Score :  0.932135728543
97  Training Score :  0.944111776447
98  Training Score :  0.936127744511
99  Training Score :  0.934131736527

'\nsub_size = 0.7\nTraining Score :  0.7874251497005988\nTraining Score :  0.7994011976047904\nTraining Score :  0.7994011976047904\nTraining Score :  0.7919161676646707\nTraining Score :  0.7829341317365269\nTraining Score :  0.7859281437125748\nTraining Score :  0.7844311377245509\nTraining Score :  0.7844311377245509\nTraining Score :  0.7799401197604791\nTraining Score :  0.7964071856287425\n\n'

In [16]:
np.savetxt("y_pred.csv", Y_pred)