In [93]:
"""
Build Dataset
"""

'\nBuild Dataset\n'

In [1]:
import numpy as np
import pandas as pd
max_allowed_freq = 16321
min_allowed_freq = 20

In [2]:
class_dict_df = pd.DataFrame(pd.read_csv("class_dict.csv"))
class_dict_df.head()

   class               category
0      0  comp.sys.mac.hardware
1      1        rec.motorcycles
2      2  talk.politics.mideast
3      3           misc.forsale
4      4     talk.religion.misc

In [3]:
#selected_words_df = pd.DataFrame(pd.read_csv('all_words.csv'))
selected_words_df = pd.DataFrame(pd.read_csv('selected_words_'+ str(max_allowed_freq) +'_'+ str(min_allowed_freq) +'.csv'))
selected_words_df.head()

           word  frequency
0          path      15204
1       subject      15997
2       message      16321
3            id      15355
4  organization      14696

In [4]:
selected_words = selected_words_df['word'].values
num_selected_words = len(selected_words)

In [5]:
train_file_paths_df = pd.DataFrame(pd.read_csv("test_files.csv"))
train_file_paths_df.head()

                                                path  class
0  .\clean_data\20_newsgroups\comp.windows.x\6695...      5
1       .\clean_data\20_newsgroups\sci.med\58979.txt     17
2  .\clean_data\20_newsgroups\talk.politics.guns\...      9
3  .\clean_data\20_newsgroups\misc.forsale\76583.txt      3
4  .\clean_data\20_newsgroups\rec.sport.hockey\54...     14

In [6]:
train_file_paths = train_file_paths_df['path'].values
train_file_class = train_file_paths_df['class'].values

In [7]:
import time
matrix = []
st = time.time()
for i in range(len(train_file_paths)) :
    #if i == 2000:
    #    break
    if i % 1000 == 0 :
        et = time.time()
        print( i, "Files Processed in", int((time.time() - st)*1000) , "millisec")
        st = time.time()    
    path = train_file_paths[i]
    target = train_file_class[i]
    with open(path) as file :
        X = []
        count = {}
        data = file.readlines()
        words_in_file = (''.join(data)).split(' ')
        for word in words_in_file:
            if word in selected_words:
                try:
                    count[word] += 1
                except:
                    count[word] = 1
        for word in selected_words:
            try :
                x = count[word] #X.append(count[word])
            except :
                count[word] = 0 #X.append(0)
        #print(X)
        X = [count[word] for word in selected_words if word in count] 
        #print(len(X))
        matrix.append(X)
        #X_train_df.iloc[i, :] = 
        file.close()
print(len(matrix))
print(len(matrix[0]))

0 Files Processed in 1 millisec
1000 Files Processed in 76877 millisec
2000 Files Processed in 57718 millisec
3000 Files Processed in 45726 millisec
4000 Files Processed in 41882 millisec
5000
5594

In [8]:
X_train_df = pd.DataFrame(matrix, columns = selected_words)

In [9]:
X_train_df.describe()

,path,subject,message,id,organization,date,tue,article,branch,reality,...,superman,retinol,fetus,evolve,secession,pu,pom,crossroads,quantization,magi
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.0,5000.0,5000.000000,5000.000000,5000.000000,5000.000000,5000.0,5000.0,5000.000000,5000.0
mean,0.052400,0.017600,0.052600,0.012200,0.011400,0.012800,0.105800,0.039400,0.007600,0.008800,...,0.0,0.0,0.000400,0.001200,0.001000,0.000400,0.0,0.0,0.003600,0.0
std,0.235086,0.143158,0.268044,0.123508,0.131429,0.140855,0.314684,0.235497,0.164765,0.121349,...,0.0,0.0,0.019998,0.034624,0.046898,0.019998,0.0,0.0,0.179982,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
max,5.000000,3.000000,9.000000,3.000000,5.000000,5.000000,4.000000,4.000000,10.000000,4.000000,...,0.0,0.0,1.000000,1.000000,3.000000,1.000000,0.0,0.0,9.000000,0.0

In [10]:
import copy
X_train = X_train_df.values
Y_train = copy.deepcopy(train_file_class)
print(X_train.shape)
print(Y_train.shape)

(5000, 5594)
(5000,)

In [11]:
dataset = pd.DataFrame(X_train_df)
dataset['target'] = Y_train
dataset.to_csv("20_newsgroups_test_dataset.csv", index = False)