In [93]:
"""
Build Dataset
"""

'\nBuild Dataset\n'

In [43]:
import numpy as np
import pandas as pd
max_allowed_freq = 16321
min_allowed_freq = 100

In [44]:
class_dict_df = pd.DataFrame(pd.read_csv("class_dict.csv"))
class_dict_df.head()

   class               category
0      0  comp.sys.mac.hardware
1      1        rec.motorcycles
2      2  talk.politics.mideast
3      3           misc.forsale
4      4     talk.religion.misc

In [45]:
#selected_words_df = pd.DataFrame(pd.read_csv('all_words.csv'))
selected_words_df = pd.DataFrame(pd.read_csv('selected_words_'+ str(max_allowed_freq) +'_'+ str(min_allowed_freq) +'.csv'))
selected_words_df.head()

           word  frequency
0          path      15204
1       subject      15997
2       message      16321
3            id      15355
4  organization      14696

In [46]:
selected_words = selected_words_df['word'].values
num_selected_words = len(selected_words)

In [47]:
train_file_paths_df = pd.DataFrame(pd.read_csv("train_files.csv"))
train_file_paths_df.head()

                                                path  class
0  .\clean_data\20_newsgroups\talk.politics.misc\...     13
1  .\clean_data\20_newsgroups\talk.religion.misc\...      4
2  .\clean_data\20_newsgroups\sci.electronics\542...     10
3  .\clean_data\20_newsgroups\misc.forsale\76424.txt      3
4  .\clean_data\20_newsgroups\sci.electronics\539...     10

In [48]:
train_file_paths = train_file_paths_df['path'].values
train_file_class = train_file_paths_df['class'].values

In [50]:
import time
matrix = []
st = time.time()
for i in range(len(train_file_paths)) :
    #if i == 2000:
    #    break
    if i % 1000 == 0 :
        et = time.time()
        print( i, "Files Processed in", int((time.time() - st)*1000) , "millisec")
        st = time.time()    
    path = train_file_paths[i]
    target = train_file_class[i]
    with open(path) as file :
        X = []
        count = {}
        data = file.readlines()
        words_in_file = (''.join(data)).split(' ')
        for word in words_in_file:
            if word in selected_words:
                try:
                    count[word] += 1
                except:
                    count[word] = 1
        for word in selected_words:
            try :
                x = count[word] #X.append(count[word])
            except :
                count[word] = 0 #X.append(0)
        #print(X)
        X = [count[word] for word in selected_words if word in count] 
        #print(len(X))
        matrix.append(X)
        #X_train_df.iloc[i, :] = 
        file.close()
print(len(matrix))
print(len(matrix[0]))

0 Files Processed in 1 millisec
1000 Files Processed in 11156 millisec
2000 Files Processed in 9830 millisec
3000 Files Processed in 11082 millisec
4000 Files Processed in 12895 millisec
5000 Files Processed in 11124 millisec
6000 Files Processed in 10977 millisec
7000 Files Processed in 11216 millisec
8000 Files Processed in 10808 millisec
9000 Files Processed in 13429 millisec
10000 Files Processed in 12021 millisec
11000 Files Processed in 11085 millisec
12000 Files Processed in 10769 millisec
13000 Files Processed in 10916 millisec
14000 Files Processed in 10156 millisec
14997
1982

In [51]:
X_train_df = pd.DataFrame(matrix, columns = selected_words)

In [52]:
X_train_df.describe()

,path,subject,message,id,organization,date,tue,article,branch,reality,...,extreme,tor,assembly,mainly,rational,handgun,char,forced,cal,phi
count,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.00000,14997.000000,14997.000000,...,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000,14997.000000
mean,0.050477,0.019537,0.058812,0.015536,0.009002,0.016270,0.112289,0.03514,0.008935,0.011402,...,0.004401,0.004334,0.004534,0.004334,0.004201,0.004801,0.006335,0.006401,0.002801,0.001134
std,0.234806,0.167608,0.320264,0.187176,0.106405,0.181872,0.321799,0.22872,0.117433,0.134938,...,0.068180,0.218313,0.095124,0.070587,0.097561,0.130569,0.497285,0.087718,0.063192,0.123029
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7.000000,7.000000,10.000000,12.000000,3.000000,8.000000,4.000000,8.00000,4.000000,4.000000,...,2.000000,24.000000,6.000000,2.000000,5.000000,12.000000,43.000000,3.000000,2.000000,15.000000

In [53]:
import copy
X_train = X_train_df.values
Y_train = copy.deepcopy(train_file_class)
print(X_train.shape)
print(Y_train.shape)

(14997, 1982)
(14997,)

In [54]:
dataset = pd.DataFrame(X_train_df)
dataset['target'] = Y_train
dataset.to_csv("20_newsgroups_dataset_16321_100.csv", index = False)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [55]:

from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB(alpha = 0.01)
model.fit(X_train, Y_train)

MultinomialNB(alpha=0.01, class_prior=None, fit_prior=True)

In [56]:
print(model.score(X_train, Y_train))

0.780422751217

In [57]:
from sklearn.metrics import confusion_matrix

In [58]:
Y_pred = model.predict(X_train)

In [59]:
from pprint import pprint
pprint(confusion_matrix(Y_pred, Y_train))

array([[709,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  9, 627,   3,   7,   2,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0],
       [  4,   4, 554,   2,   9,   0,   0,   0,   0,   1,   0,   0,   1,
          7,   0,   1,   0,   1,   0,   0],
       [ 13,  17,   9, 544,   6,  12,  13,   7,   2,   1,   4,   2,   0,
          1,   0,   0,   1,   0,   0,   0],
       [  2,   4,  26,   1, 422,   3,   0,   0,   2,   1,   0,   0,  13,
         18,   0,   4,   1,   0,   0,   0],
       [ 11,   0,   2,   2,   2, 488,   6,   0,   1,   0,   0,   0,   1,
          0,   0,   0,   3,   1,   0,   5],
       [  7,   6,   2,  51,   4,  19, 546,   1,   2,   1,  18,   1,   0,
          0,   0,   0,   8,   0,   0,  11],
       [  1,  18,   6,  20,   6,   6,  12, 578,   6,   5,   9,   1,   2,
          4,   0,   0,   1,   0,   0,   0],
       [  1,   9,   4,   6,   6,  10,   5,   3, 597,   1,   6,   3,   5,
          7,   0,   1,   5,   0,   0,   0],
       [  1,   7,  21,   2,  42,   1,   0,   7,   2, 584,   0,  12,   7,
         54,   2,   2,   0,   2,   2,   0],
       [  1,   8,   4,  16,   5,  18,  36,  31,  12,  10, 572,  14,   3,
          3,   1,   2,   6,   4,   1,   1],
       [  1,   3,   9,   6,   4,   9,   8,   3,   3,  16,   3, 633,   1,
          0,   0,   2,   1,   0,   0,   1],
       [  0,   1,  17,   4, 127,   8,   3,   2,  17,  20,   2,   3, 606,
         25,   1,  33,   2,  11,   3,   2],
       [  0,   0,  18,   4,  59,   2,   0,   3,  12,  39,   1,  10,   8,
        500,   2,   4,   1,   1,   0,   1],
       [  2,   6,   9,  13,  11,   8,   6,  15,   7,  12,   9,   6,  10,
         10, 647,   2,   4,   6,   9,   0],
       [  0,   0,   3,   1,  16,   0,   1,   0,   1,   4,   0,   0,  21,
         14,   1, 610,   0,   1,   0,   0],
       [  1,   3,  11,  21,  12,  93,  37,  12,  22,   3,  35,  22,   3,
          5,   1,   3, 490,  18,   1,  25],
       [  1,   0,   8,   4,  19,  11,   8,  12,  13,  11,  11,   8,  17,
         40,   3,  32,  10, 608,   2,   0],
       [  0,   3,   7,  10,   7,   2,  13,  23,  28,  21,  21,   6,  29,
         36,  83,  20,  28,  26, 692,   8],
       [  0,   0,   6,  25,   5,  70,  66,  34,  27,  21,  65,  46,  40,
         17,  28,  29, 186,  65,  42, 697]], dtype=int64)

In [60]:
for target in set(Y_train):
    print(target, ":", (Y_train == target).sum())

0 : 764
1 : 716
2 : 719
3 : 739
4 : 764
5 : 760
6 : 760
7 : 731
8 : 754
9 : 751
10 : 756
11 : 767
12 : 767
13 : 741
14 : 769
15 : 745
16 : 747
17 : 744
18 : 752
19 : 751

In [61]:
from sklearn.metrics import classification_report
print(classification_report(Y_pred, Y_train))

             precision    recall  f1-score   support

          0       0.93      1.00      0.96       709
          1       0.88      0.97      0.92       648
          2       0.77      0.95      0.85       584
          3       0.74      0.86      0.79       632
          4       0.55      0.85      0.67       497
          5       0.64      0.93      0.76       522
          6       0.72      0.81      0.76       677
          7       0.79      0.86      0.82       675
          8       0.79      0.89      0.84       669
          9       0.78      0.78      0.78       748
         10       0.76      0.76      0.76       748
         11       0.83      0.90      0.86       703
         12       0.79      0.68      0.73       887
         13       0.67      0.75      0.71       665
         14       0.84      0.82      0.83       792
         15       0.82      0.91      0.86       673
         16       0.66      0.60      0.63       818
         17       0.82      0.74      0.78       818
         18       0.92      0.65      0.76      1063
         19       0.93      0.47      0.63      1469

avg / total       0.80      0.78      0.78     14997

In [72]:
import _pickle as pickle

In [112]:
model_data = {}
model_data['model'] = model
model_data['max_freq'] = max_allowed_freq
model_data['min_freq'] = min_allowed_freq
with open("multinomial_naive_bayes_" + str(max_allowed_freq) + "_" + str(min_allowed_freq) + ".sav", 'wb') as model_file :
    pickle.dump(model_data, model_file )
    model_file.close()