In [2]:
# function
# remember def function_name(Arguments list) : # (colon)
# indentation too
def add(a,b):
    return a + b
print (add(5,10))

15

In [4]:
# default argument
def power(a,b=2):
    return a ** b
print(power(5))
print(power(5,4))

25
625

In [6]:
# pass arguments by their name
def sum(a=10,b=10,c=10):
    return a + b + c
print(sum(5))
print(sum(b=13))
print(sum(b=15,c=21))

25
33
46

In [9]:
# variable number of arguments
def sum_variable(a,b,*more):
    ans = a + b
    print(type(more))
    print(more)
    return ans
print(sum_variable(1,2,3,4,6,5))
print(sum_variable(1,2))

<class 'tuple'>
(3, 4, 6, 5)
3
<class 'tuple'>
()
3

In [13]:
# more than one return value
def sum_and_product (a,b):
    return a + b, a * b
sum, prod = sum_and_product(5,2)
print(sum)
print(prod)
res = sum_and_product(3,7)
print(res)

7
10
(10, 21)

In [39]:
def f(n):
    if n == 1 or n == 2:
        return 1
    return (f(n-1) + f(n-2))

6765

In [44]:
start = 1
n = int(input())
for i in range(n):
  #num = (n * (n + 1)) / 2 + 1
    if i % 2 == 0 :
        for j in range(start, start + i + 1):
            print(j,  end = " ")
    else: 
        for j in range(start, start + i + 1)[::-1]:
            print(j,  end = " ")
    print("")
    start += i + 1

5
1
3 2
4 5 6
10 9 8 7
11 12 13 14 15

In [48]:
n = 19892083908948390893792736972987389
print(n)

19892083908948390893792736972987389