In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("international-airline-passengers.csv", usecols=[1])
df.columns = ["Num of Passengers"]
df.dropna(inplace=True)
df

     Num of Passengers
0                112.0
1                118.0
2                132.0
3                129.0
4                121.0
5                135.0
6                148.0
7                148.0
8                136.0
9                119.0
10               104.0
11               118.0
12               115.0
13               126.0
14               141.0
15               135.0
16               125.0
17               149.0
18               170.0
19               170.0
20               158.0
21               133.0
22               114.0
23               140.0
24               145.0
25               150.0
26               178.0
27               163.0
28               172.0
29               178.0
..                 ...
114              491.0
115              505.0
116              404.0
117              359.0
118              310.0
119              337.0
120              360.0
121              342.0
122              406.0
123              396.0
124              420.0
125              472.0
126              548.0
127              559.0
128              463.0
129              407.0
130              362.0
131              405.0
132              417.0
133              391.0
134              419.0
135              461.0
136              472.0
137              535.0
138              622.0
139              606.0
140              508.0
141              461.0
142              390.0
143              432.0

[144 rows x 1 columns]

In [3]:
values = df.values.astype("float32")
values.shape

(144, 1)

In [4]:
train_size = int(values.shape[0] * 0.67)
test_size = values.shape[0] - train_size

train_size, test_size

(96, 48)

In [5]:
train = values[:train_size]
test = values[:test_size]

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler(feature_range=(0, 1))
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [8]:
def create_dataset(data, window_size = 12) :
    X, Y = [], []
    for i in range(data.shape[0] - window_size) :
        X.append(data[i:i+window_size])
        Y.append(data[i+window_size])
    return np.array(X), np.array(Y)

In [9]:
look_back = 12
X_train, Y_train = create_dataset(train, look_back)
X_test, Y_test = create_dataset(test, look_back)

In [10]:
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((84, 12, 1), (84, 1), (36, 12, 1), (36, 1))

In [12]:
from keras.models import Sequential
from keras.layers import SimpleRNN, Dense

In [33]:
model = Sequential()
model.add(SimpleRNN(units=5, input_shape = (look_back, 1)))
model.add(Dense(64, activation = 'tanh'))
model.add(Dense(64, activation = 'tanh'))
model.add(Dense(1))
model.compile(loss="mean_squared_logarithmic_error", optimizer='adam', metrics=['accuracy'])

In [35]:
model.fit(X_train, Y_train, epochs=10, batch_size=1)
Y_train_pred = (model.predict(X_train))
print(((Y_train-Y_train_pred)**2).sum())
Y_test_pred = (model.predict(X_test))
print(((Y_test-Y_test_pred)**2).sum())

Epoch 1/10
84/84 [==============================] - 2s 28ms/step - loss: 0.0045 - acc: 0.0000e+00
Epoch 2/10
84/84 [==============================] - 2s 27ms/step - loss: 0.0062 - acc: 0.0000e+00
Epoch 3/10
84/84 [==============================] - 2s 30ms/step - loss: 0.0038 - acc: 0.0000e+00
Epoch 4/10
84/84 [==============================] - 2s 29ms/step - loss: 0.0035 - acc: 0.0000e+00
Epoch 5/10
84/84 [==============================] - 3s 30ms/step - loss: 0.0035 - acc: 0.0000e+00
Epoch 6/10
84/84 [==============================] - 3s 30ms/step - loss: 0.0042 - acc: 0.0000e+00
Epoch 7/10
84/84 [==============================] - 2s 27ms/step - loss: 0.0032 - acc: 0.0000e+00
Epoch 8/10
84/84 [==============================] - 2s 27ms/step - loss: 0.0031 - acc: 0.0000e+00
Epoch 9/10
84/84 [==============================] - 2s 27ms/step - loss: 0.0032 - acc: 0.0000e+00
Epoch 10/10
84/84 [==============================] - 2s 28ms/step - loss: 0.0032 - acc: 0.0000e+00
0.4652924
0.08970496